.l-footer {
  background: rgb(245, 245, 245);
  padding-top: 40px;
  &__top {
    background: #fff;
    padding: 32px;
  }
  &__dt {
    margin-bottom: 16px;
    width: 64px;
  }
  &__calender { width: 50%;}
  &__this-month { margin-right: 32px;}
  &__month {
    font-weight: 500;
    margin-bottom: 4px;
    text-align: center;
  }
  &__table {
    font-size: 1.2rem;
    text-align: center;
    th {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      width: 24px;
    }
    td {
      width: 24px;
    }
  }
  &__holidy {
    background: rgb(255, 183, 183);
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
  }
  &__holiday-text {
    font-size: 1.4rem;
    margin: 16px 0 0 20px;
    position: relative;
    &::before {
      background: rgb(255, 183, 183);
      content: '';
      height: 16px;
      left: -20px;
      position: absolute;
      top: 4px;
      width: 16px;
    }
  }
  &__bottom {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }
  &__item {
    display: inline-block;
    &:last-of-type {
      border-left: 1px solid black;
      margin-left: 16px;
      padding-left: 16px;
    }
  }
  
  @include media(sp) {
    &__dt { margin-bottom: 4px;}
    &__dd {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
    &__calender {
      width: 100%;
      .c-small-heading {
        margin-top: 40px;
      }
    }
    &__calender-heading { margin-top: 24px;}
    &__this-month { margin-right: 16px;}
    &__table { font-size: 1rem;}
    &__holiday-text {
      margin: 8px 0 0 16px;
      &::before {
        height: 12px;
        left: -16px;
        top: 7px;
        width: 12px;
      }
    }
    &__bottom {
      flex-direction: column;
      padding: 16px 0 8px;
    }
    &__item { margin-bottom: 8px;}
  }
}
