.h-header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: white;
    @include media(sp) {
        height: 60px;
        width: 100%;
    }
    .c-container {
        position: relative;
    }
    &__left-item{
        &--logo{
            height: 56px;
            width: auto;
            @include media(sp) {
                height: 48px;
            }
        }
        &--text {
            margin: 0 0 0 8px;
        }
    }
    &__nav {
        width:40%;
        @include media(tab) {
            display: none;
        }
        &--item {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 1.4rem;
        }
        &--link::before {
            content: attr(data-text);
            display: block;
            font-size: 1.8rem;
            margin-bottom: -6px;
        }
    }
    &__right-items {
        width: 150px;
        @include media(sp) {
            width: 30%;
        } 
        & .sarch {
            cursor: pointer;
        }
    }
    &__right-item {
        display: flex;
        align-items: center;
    }
    &__right-image {
        height: 24px;
        width: auto;
    }
    &__right-sarch {
        background: rgb(247, 247, 247);
        font-size: 0;
        height: 80px;
        opacity: 0;
        padding: 24px;
        position: absolute;
        right: 0;
        top: 80px;
        transition: .3s;
        visibility: hidden;
        width: 360px;
        @include media(sp) {
            top: 60px;
        }
        @include media(tab) {
            width: calc(100% + 32px);
            margin-right: -16px;
        }
        @include media(pc) {
          .sarch:hover & {
            opacity: 1;
            visibility: visible;
          }
        }
        &.open {
          opacity: 1;
          visibility: visible;
        }
    }
    &__text {
        border: 1px solid #333;
        border-radius: 4px 0 0 4px;
        border-right: none;
        font-size: 1.2rem;
        height: 30px;
        padding: 4px 8px;
        width: 272px;
        @include media(tab) {
            width: 90%;
        }
    }
    &__submit {
        background: #fff;
        border: 1px solid #333;
        border-left: none;
        border-radius: 0 4px 4px 0;
        height: 30px;
        padding: 4px;
        width: 40px;
        @include media(tab) {
            width: 10%;
        }
    }
}

.border-bottom {
    border-bottom: 1px solid rgb(233, 233 ,233);
}

.open {
    display: block;
}

.c-container.p-slick-wrapper {
    @include media(tab) {
        max-width: none;
        width: 100%;
    }
}

.slick-img {
    width: 100%;
    height: auto;
}