.c-container {
  margin: auto;
  max-width: 1024px;
  width: 90%;
  height: 100%;
  @include media(tab) {
    width: calc(100% - 32px);
  }
}

.c-section-layout {
  padding-top: 80px;
  @include media(sp) {
    padding-top: 60px;
  }
}

.c-heading {
  margin-bottom: 80px;
  font-size: 1.6rem;
  text-align: center;
  @include media(sp) {}
  &::before {
    content: attr(data-text);
    display: block;
    font-size: 2.8rem;
    margin-bottom: -8px;
    @include media(sp) {}
  }
}

.c-small-heading {
  font-size: 2.4rem;
  border-bottom: 1px solid black;
  display: inline-block;
  margin-bottom: 40px;
}