.p-pickup {
  &__item {
    width: 48%;
    @include media(tab) {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

.p-ranking {
  &__item {
    width: 19%;
    counter-increment: runk;
    position: relative;
    @include media(tab) {
      width: 32%;
    }
    &::before {
      content: counter(runk);
      height: 28px;
      width: 28px;
      position: absolute;
      top: -40px;
      left: 0;
      color: white;
      background: black;
      text-align: center;
      line-height: 28px;
    }
  }
  &__item1 {
    @include media(tab) {
      width: 49%;
      margin-bottom: 56px;
    }
    &::before{
      background: #BEA645;
    }
  }
  &__item2{
    @include media(tab) {
      width: 49%;
      margin-bottom: 56px;
    }
    &::before{
      background: #959EA9;
    }
  }
  &__item3::before {
    background: #833E3F;
  }
}

.p-aboutus {
  &__image {
    width: 48%;
    @include media(tab) {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  &__text {
    width: 48%;
    @include media(tab) {
      width: 100%;
    }
    &-top {
      font-size: 2.4rem;
    }
    &-sub {
      margin-top:24px;
    }
  }
}

.p-lineup {
  &__item {
    width: 24%;
    margin: 0 0.5%;
    text-align: center;
    margin-bottom: 32px;
    @include media(tab) {
      width: 49%;
      margin-bottom: 16px;
    }
  }
}