.u-font-weight {font-weight: 500}
.u-border-line {border-bottom: 1px solid #333}
.u-flex {display: flex}
.u-spbetween {justify-content: space-between}
.u-alitems {align-items: center}
.u-wrap {flex-wrap: wrap;}
.u-td-underline {border-bottom: 1px solid black}

.u-pc {
  @include media(sp) {
    display: none;
  }
}
.u-tab {
  display: none;
  @include media(sp) {
    display: block;
  }
}